.start-image {
    position: fixed;
    width: auto;
    z-index: 1;
    top: -10%;
}

.start-title {
    position: fixed;
    top: 15%;
    font-size: 900%;
    color:lightcyan;
    z-index: 2;
}

.start-button {
    position: fixed;
    top: 75%;
    z-index: 2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}