.HomeBottomUI {
  display: flex;
  justify-content: space-between;
}

.LeftSide {
  display: flex;

  img:nth-child(1) {
    margin-left: 2rem;
  }

  img {
    height: 8rem;
    margin-left: 4rem;
    margin-top: 10rem;
    filter: invert(1);
  }
}

.RightSide {
  img {
    margin-top: 15rem;
    align-self: right;
    height: 70px;
    width: auto;
  }
}
