.AboutUs {
  height: 100vh;
  width: 100vw;
  display: grid;
  background: no-repeat center url('../../assets/images/sao.png');
  background-size: 100% 100%;
  grid-template-rows: 2fr repeat(2, 1fr) 0.25fr;
  color: #f0ead6;
  font-family:
    Brush Script MT,
    Brush Script Std,
    cursive;
}

.row-one {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  > div:nth-child(2) {
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-columns: 1fr 2fr 0.5fr;
    > h1 {
      grid-row: 1;
      grid-column: 1 / span 3;
      text-align: center;
      align-self: center;
      font-size: 3em;
    }
  }
}

.row-two {
  grid-row: 2;
}

.row-three {
  grid-row: 3;
}

.row-four {
  grid-row: 4;
}
